* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: 'Helvetica';
}

.title {
  background-color: #305897;
  color: #ddd;
  text-align: center;
  padding: 20px 10px;
}

.title--text {
  font-size: 2rem;
  text-decoration: underline;
}

/* here id for bem methodology css */
.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  margin: 20px 0;
}

.card {
  padding: 15px;
  margin: 10px;
  width: 30%;
  text-align: left;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px;
}

.card--light {
  background-color: #fff;
  color: #444448;
}

.card--dark {
  background-color: #444448;
  color: #fff;
}

.card--image {
  width: 100%;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
}

.card--title {
  font-size: 1.5rem;
  margin: 15px 0;
}

.card--body {
  font-size: 1rem;
  font-weight: 100;
}


.joke {
  margin: 20px 0;
}